DSBDA LAB

GROUP A - 07

DATA ANALYTICS(TEXT)

In [ ]:
import numpy as np
import pandas as pd
import nltk as nlt
import warnings

In [ ]:
text="""What is machine learning?
Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.
IBM has a rich history with machine learning. One of its own, Arthur Samuel, is credited for coining the term, “machine learning” with his research (PDF, 481 KB) (link resides outside IBM) around the game of checkers. Robert Nealey, the self-proclaimed checkers master, played the game on an IBM 7094 computer in 1962, and he lost to the computer. Compared to what can be done today, this feat seems trivial, but it’s considered a major milestone in the field of artificial intelligence."""

In [ ]:
text

'What is machine learning?\nMachine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.\nIBM has a rich history with machine learning. One of its own, Arthur Samuel, is credited for coining the term, “machine learning” with his research (PDF, 481 KB) (link resides outside IBM) around the game of checkers. Robert Nealey, the self-proclaimed checkers master, played the game on an IBM 7094 computer in 1962, and he lost to the computer. Compared to what can be done today, this feat seems trivial, but it’s considered a major milestone in the field of artificial intelligence.'

In [ ]:
from nltk import word_tokenize,sent_tokenize

In [ ]:
nlt.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
word_tokenize(text)

['What',
 'is',
 'machine',
 'learning',
 '?',
 'Machine',
 'learning',
 'is',
 'a',
 'branch',
 'of',
 'artificial',
 'intelligence',
 '(',
 'AI',
 ')',
 'and',
 'computer',
 'science',
 'which',
 'focuses',
 'on',
 'the',
 'use',
 'of',
 'data',
 'and',
 'algorithms',
 'to',
 'imitate',
 'the',
 'way',
 'that',
 'humans',
 'learn',
 ',',
 'gradually',
 'improving',
 'its',
 'accuracy',
 '.',
 'IBM',
 'has',
 'a',
 'rich',
 'history',
 'with',
 'machine',
 'learning',
 '.',
 'One',
 'of',
 'its',
 'own',
 ',',
 'Arthur',
 'Samuel',
 ',',
 'is',
 'credited',
 'for',
 'coining',
 'the',
 'term',
 ',',
 '“',
 'machine',
 'learning',
 '”',
 'with',
 'his',
 'research',
 '(',
 'PDF',
 ',',
 '481',
 'KB',
 ')',
 '(',
 'link',
 'resides',
 'outside',
 'IBM',
 ')',
 'around',
 'the',
 'game',
 'of',
 'checkers',
 '.',
 'Robert',
 'Nealey',
 ',',
 'the',
 'self-proclaimed',
 'checkers',
 'master',
 ',',
 'played',
 'the',
 'game',
 'on',
 'an',
 'IBM',
 '7094',
 'computer',
 'in',
 '1962',
 ',',
 'and',
 'he',
 'lost',
 'to',
 'the',
 'computer',
 '.',
 'Compared',
 'to',
 'what',
 'can',
 'be',
 'done',
 'today',
 ',',
 'this',
 'feat',
 'seems',
 'trivial',
 ',',
 'but',
 'it',
 '’',
 's',
 'considered',
 'a',
 'major',
 'milestone',
 'in',
 'the',
 'field',
 'of',
 'artificial',
 'intelligence',
 '.']

In [ ]:
sent_tokenize(text)

['What is machine learning?',
 'Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.',
 'IBM has a rich history with machine learning.',
 'One of its own, Arthur Samuel, is credited for coining the term, “machine learning” with his research (PDF, 481 KB) (link resides outside IBM) around the game of checkers.',
 'Robert Nealey, the self-proclaimed checkers master, played the game on an IBM 7094 computer in 1962, and he lost to the computer.',
 'Compared to what can be done today, this feat seems trivial, but it’s considered a major milestone in the field of artificial intelligence.']

#Removing Stop-Words

In [ ]:
from nltk.corpus import stopwords

import nltk

nltk.download('stopwords')

stop_words=stopwords.words('english')

print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
token=word_tokenize(text)
cleaned_token=[]
for word in token:
  if word not in stop_words:
    cleaned_token.append(word)

print("this is the unclean version:",token)    
print("this is the clean version:",cleaned_token)

this is the unclean version: ['What', 'is', 'machine', 'learning', '?', 'Machine', 'learning', 'is', 'a', 'branch', 'of', 'artificial', 'intelligence', '(', 'AI', ')', 'and', 'computer', 'science', 'which', 'focuses', 'on', 'the', 'use', 'of', 'data', 'and', 'algorithms', 'to', 'imitate', 'the', 'way', 'that', 'humans', 'learn', ',', 'gradually', 'improving', 'its', 'accuracy', '.', 'IBM', 'has', 'a', 'rich', 'history', 'with', 'machine', 'learning', '.', 'One', 'of', 'its', 'own', ',', 'Arthur', 'Samuel', ',', 'is', 'credited', 'for', 'coining', 'the', 'term', ',', '“', 'machine', 'learning', '”', 'with', 'his', 'research', '(', 'PDF', ',', '481', 'KB', ')', '(', 'link', 'resides', 'outside', 'IBM', ')', 'around', 'the', 'game', 'of', 'checkers', '.', 'Robert', 'Nealey', ',', 'the', 'self-proclaimed', 'checkers', 'master', ',', 'played', 'the', 'game', 'on', 'an', 'IBM', '7094', 'computer', 'in', '1962', ',', 'and', 'he', 'lost', 'to', 'the', 'computer', '.', 'Compared', 'to', 'what', 'can', 'be', 'done', 'today', ',', 'this', 'feat', 'seems', 'trivial', ',', 'but', 'it', '’', 's', 'considered', 'a', 'major', 'milestone', 'in', 'the', 'field', 'of', 'artificial', 'intelligence', '.']
this is the clean version: ['What', 'machine', 'learning', '?', 'Machine', 'learning', 'branch', 'artificial', 'intelligence', '(', 'AI', ')', 'computer', 'science', 'focuses', 'use', 'data', 'algorithms', 'imitate', 'way', 'humans', 'learn', ',', 'gradually', 'improving', 'accuracy', '.', 'IBM', 'rich', 'history', 'machine', 'learning', '.', 'One', ',', 'Arthur', 'Samuel', ',', 'credited', 'coining', 'term', ',', '“', 'machine', 'learning', '”', 'research', '(', 'PDF', ',', '481', 'KB', ')', '(', 'link', 'resides', 'outside', 'IBM', ')', 'around', 'game', 'checkers', '.', 'Robert', 'Nealey', ',', 'self-proclaimed', 'checkers', 'master', ',', 'played', 'game', 'IBM', '7094', 'computer', '1962', ',', 'lost', 'computer', '.', 'Compared', 'done', 'today', ',', 'feat', 'seems', 'trivial', ',', '’', 'considered', 'major', 'milestone', 'field', 'artificial', 'intelligence', '.']

In [ ]:
words= [token.lower()
        for token in cleaned_token if token.isalpha()
        ]

#Stemming

In [ ]:
from nltk.stem import PorterStemmer

In [ ]:
stemmer=PorterStemmer()

In [ ]:
port_stemmer_output= [
  stemmer.stem(word) for word in words]

In [ ]:
print(port_stemmer_output)

['what', 'machin', 'learn', 'machin', 'learn', 'branch', 'artifici', 'intellig', 'ai', 'comput', 'scienc', 'focus', 'use', 'data', 'algorithm', 'imit', 'way', 'human', 'learn', 'gradual', 'improv', 'accuraci', 'ibm', 'rich', 'histori', 'machin', 'learn', 'one', 'arthur', 'samuel', 'credit', 'coin', 'term', 'machin', 'learn', 'research', 'pdf', 'kb', 'link', 'resid', 'outsid', 'ibm', 'around', 'game', 'checker', 'robert', 'nealey', 'checker', 'master', 'play', 'game', 'ibm', 'comput', 'lost', 'comput', 'compar', 'done', 'today', 'feat', 'seem', 'trivial', 'consid', 'major', 'mileston', 'field', 'artifici', 'intellig']

#Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
lemmatizer = WordNetLemmatizer()

In [ ]:
lemmatizer_output =[
    lemmatizer.lemmatize(word) for word in words]

In [ ]:
print(lemmatizer_output)

['what', 'machine', 'learning', 'machine', 'learning', 'branch', 'artificial', 'intelligence', 'ai', 'computer', 'science', 'focus', 'use', 'data', 'algorithm', 'imitate', 'way', 'human', 'learn', 'gradually', 'improving', 'accuracy', 'ibm', 'rich', 'history', 'machine', 'learning', 'one', 'arthur', 'samuel', 'credited', 'coining', 'term', 'machine', 'learning', 'research', 'pdf', 'kb', 'link', 'resides', 'outside', 'ibm', 'around', 'game', 'checker', 'robert', 'nealey', 'checker', 'master', 'played', 'game', 'ibm', 'computer', 'lost', 'computer', 'compared', 'done', 'today', 'feat', 'seems', 'trivial', 'considered', 'major', 'milestone', 'field', 'artificial', 'intelligence']

#Part Of Speech Tagging (POS)

In [ ]:
from nltk import pos_tag

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
tagged=pos_tag(lemmatizer_output)

In [ ]:
tagged

[('what', 'WP'),
 ('machine', 'NN'),
 ('learning', 'VBG'),
 ('machine', 'NN'),
 ('learning', 'VBG'),
 ('branch', 'JJ'),
 ('artificial', 'JJ'),
 ('intelligence', 'NN'),
 ('ai', 'VBP'),
 ('computer', 'NN'),
 ('science', 'NN'),
 ('focus', 'NN'),
 ('use', 'NN'),
 ('data', 'NNS'),
 ('algorithm', 'NNS'),
 ('imitate', 'VBP'),
 ('way', 'NN'),
 ('human', 'JJ'),
 ('learn', 'VBP'),
 ('gradually', 'RB'),
 ('improving', 'VBG'),
 ('accuracy', 'NN'),
 ('ibm', 'NN'),
 ('rich', 'JJ'),
 ('history', 'NN'),
 ('machine', 'NN'),
 ('learning', 'VBG'),
 ('one', 'CD'),
 ('arthur', 'NN'),
 ('samuel', 'NN'),
 ('credited', 'VBD'),
 ('coining', 'JJ'),
 ('term', 'NN'),
 ('machine', 'NN'),
 ('learning', 'VBG'),
 ('research', 'NN'),
 ('pdf', 'NN'),
 ('kb', 'VBD'),
 ('link', 'NN'),
 ('resides', 'NNS'),
 ('outside', 'IN'),
 ('ibm', 'NN'),
 ('around', 'IN'),
 ('game', 'NN'),
 ('checker', 'NN'),
 ('robert', 'NN'),
 ('nealey', 'NN'),
 ('checker', 'NN'),
 ('master', 'NN'),
 ('played', 'VBD'),
 ('game', 'NN'),
 ('ibm', 'NN'),
 ('computer', 'NN'),
 ('lost', 'VBD'),
 ('computer', 'NN'),
 ('compared', 'VBN'),
 ('done', 'VBN'),
 ('today', 'NN'),
 ('feat', 'NN'),
 ('seems', 'VBZ'),
 ('trivial', 'JJ'),
 ('considered', 'VBN'),
 ('major', 'JJ'),
 ('milestone', 'NN'),
 ('field', 'NN'),
 ('artificial', 'JJ'),
 ('intelligence', 'NN')]

afternoon session

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from sklearn.metrics.pairwise 
#import cosine_similarity not needed to be added so skipped

In [ ]:
docs=["Sachin is considered to be one of the greatest cricket players",
      "federer is considered one of the greatest tennis players",
      "Nadal is considered one of the best tennis player",
      "virat is the captain of the indian cricket team"]

In [ ]:
vectorizer = TfidfVectorizer(analyzer="word",norm=None)
#vectorizer is the object of class
Mat=vectorizer.fit(docs)
#mat is the matrix which carries unique words
print(Mat.vocabulary_)
#vocabulary will print the unique words in the doc

{'sachin': 14, 'is': 8, 'considered': 3, 'to': 18, 'be': 0, 'one': 11, 'of': 10, 'the': 17, 'greatest': 6, 'cricket': 4, 'players': 13, 'federer': 5, 'tennis': 16, 'nadal': 9, 'best': 1, 'player': 12, 'virat': 19, 'captain': 2, 'indian': 7, 'team': 15}

In [ ]:
tfidfMat = vectorizer.fit_transform(docs)
print(tfidfMat)

  (0, 13)	1.5108256237659907
  (0, 4)	1.5108256237659907
  (0, 6)	1.5108256237659907
  (0, 17)	1.0
  (0, 10)	1.0
  (0, 11)	1.2231435513142097
  (0, 0)	1.916290731874155
  (0, 18)	1.916290731874155
  (0, 3)	1.2231435513142097
  (0, 8)	1.0
  (0, 14)	1.916290731874155
  (1, 16)	1.5108256237659907
  (1, 5)	1.916290731874155
  (1, 13)	1.5108256237659907
  (1, 6)	1.5108256237659907
  (1, 17)	1.0
  (1, 10)	1.0
  (1, 11)	1.2231435513142097
  (1, 3)	1.2231435513142097
  (1, 8)	1.0
  (2, 12)	1.916290731874155
  (2, 1)	1.916290731874155
  (2, 9)	1.916290731874155
  (2, 16)	1.5108256237659907
  (2, 17)	1.0
  (2, 10)	1.0
  (2, 11)	1.2231435513142097
  (2, 3)	1.2231435513142097
  (2, 8)	1.0
  (3, 15)	1.916290731874155
  (3, 7)	1.916290731874155
  (3, 2)	1.916290731874155
  (3, 19)	1.916290731874155
  (3, 4)	1.5108256237659907
  (3, 17)	2.0
  (3, 10)	1.0
  (3, 8)	1.0

In [ ]:
features_names = vectorizer.get_feature_names_out()
print(features_names)

['be' 'best' 'captain' 'considered' 'cricket' 'federer' 'greatest'
 'indian' 'is' 'nadal' 'of' 'one' 'player' 'players' 'sachin' 'team'
 'tennis' 'the' 'to' 'virat']

In [ ]:
dense = tfidfMat.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist,columns = features_names)
df

,be,best,captain,considered,cricket,federer,greatest,indian,is,nadal,of,one,player,players,sachin,team,tennis,the,to,virat
0,1.916291,0.000000,0.000000,1.223144,1.510826,0.000000,1.510826,0.000000,1.0,0.000000,1.0,1.223144,0.000000,1.510826,1.916291,0.000000,0.000000,1.0,1.916291,0.000000
1,0.000000,0.000000,0.000000,1.223144,0.000000,1.916291,1.510826,0.000000,1.0,0.000000,1.0,1.223144,0.000000,1.510826,0.000000,0.000000,1.510826,1.0,0.000000,0.000000
2,0.000000,1.916291,0.000000,1.223144,0.000000,0.000000,0.000000,0.000000,1.0,1.916291,1.0,1.223144,1.916291,0.000000,0.000000,0.000000,1.510826,1.0,0.000000,0.000000
3,0.000000,0.000000,1.916291,0.000000,1.510826,0.000000,0.000000,1.916291,1.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,1.916291,0.000000,2.0,0.000000,1.916291

In [ ]:
features_names = sorted(vectorizer.get_feature_names_out())
features_names

['be',
 'best',
 'captain',
 'considered',
 'cricket',
 'federer',
 'greatest',
 'indian',
 'is',
 'nadal',
 'of',
 'one',
 'player',
 'players',
 'sachin',
 'team',
 'tennis',
 'the',
 'to',
 'virat']

In [ ]:
docList = ['Doc1','Doc2','Doc3','Doc4']
s=pd.DataFrame(tfidfMat.todense(),
               index=sorted(docList),columns=features_names)
print(s)

            be      best   captain  considered   cricket   federer  greatest  \
Doc1  1.916291  0.000000  0.000000    1.223144  1.510826  0.000000  1.510826
Doc2  0.000000  0.000000  0.000000    1.223144  0.000000  1.916291  1.510826
Doc3  0.000000  1.916291  0.000000    1.223144  0.000000  0.000000  0.000000
Doc4  0.000000  0.000000  1.916291    0.000000  1.510826  0.000000  0.000000

        indian   is     nadal   of       one    player   players    sachin  \
Doc1  0.000000  1.0  0.000000  1.0  1.223144  0.000000  1.510826  1.916291
Doc2  0.000000  1.0  0.000000  1.0  1.223144  0.000000  1.510826  0.000000
Doc3  0.000000  1.0  1.916291  1.0  1.223144  1.916291  0.000000  0.000000
Doc4  1.916291  1.0  0.000000  1.0  0.000000  0.000000  0.000000  0.000000

          team    tennis  the        to     virat
Doc1  0.000000  0.000000  1.0  1.916291  0.000000
Doc2  0.000000  1.510826  1.0  0.000000  0.000000
Doc3  0.000000  1.510826  1.0  0.000000  0.000000
Doc4  1.916291  0.000000  2.0  0.000000  1.916291

#Compute Cosine Similarity(optional)
csim = cosine_similarity(tfidfMat,tfidfMat)

csimDf = pd.DataFrame(csim,index = sorted(docList),

columns = sorted(docList))

print(csimDf)